<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic">
        <provider
            android:name="com.foxtrader.app.debug.LeakCanaryOemFilterProvider"
            android:authorities="${applicationId}.leakcanary.oemfilter"
            android:exported="false"
            android:initOrder="110" />
    </application>
</manifest>
